[2018-04-16 17:12] NuxRo opened #14 "Missing prompt characters"
There seems to be some missing character in my shell (MATE terminal) at the prompt. Probably the infamous emoji?
![selection_359](https://user-images.githubusercontent.com/2357012/38824592-ac31826e-41a1-11e8-82f1-b9e7e8542249.png)

[2018-04-16 17:14] NuxRo opened #15 "No matter the output value, it outputs json"
No matter what "set output" I set, it keeps outputing json.
In particular I expected "text" output to be the old default without the colours, it's kind of handy.

[2018-04-16 17:27] swill commented on #15
I believe that Rohit mentioned that he was standardizing on JSON as the output format in order to simplify the implementation.

@NuxRo, I am guessing that it is for readability that you like the `text` based output?  Would the output from something like ZeroLog (https://github.com/rs/zerolog) fit what you are trying to solve for?  I am not sure if Rohit has any plans to support the `text` format a

[2018-04-16 17:52] NuxRo commented on #15
Ah, okay, well then, if it's a feature than I'll back off. I misunderstood what will and will not be still available, thought only the colours would go away.

I guess output can be piped to other tools to make it more human readable. I don't have a problem in particular I am trying to solve with this, it was just easier on my eyes. :)

[2018-04-16 17:52] #15 closed

[2018-04-16 18:01] swill commented on #15
I would recommend that we get an idea from @rhtyd about what he thinks makes sense to support going forward.  There are ways to potentially pip to another tool for human readability if that is the core concern, but I think others will also be interested in this, so having the issue here to help document and clarify is useful.

[2018-04-16 18:27] rhtyd commented on #14
@NuxRo Yes, that's the emoji. In newer distros, they will support unicode emojis. You can try this https://victor.kropp.name/blog/emoji-on-linux/

I'll add support for custom prompt soon.

[2018-04-18 20:40] serverchief opened #16 "prompt icon keeps changing for each command on centos 7"
got to try out cloudmonkey in go - something fun i noticed - not certain if its a feature.
Each time i run a command - the prompt icon keeps changing.

[2018-04-23 07:52] wido opened #17 "panic: runtime error: invalid memory address or nil pointer dereference"
I just gave it a try but ran into this:

<pre>
wido@wido-laptop:~/Desktop$ ./cmk-linux-amd64
Please run sync, failed to read the cache file: /home/wido/.cmk/cache
Apache CloudStack 🐵 cloudmonkey 6.0.0-alpha1
Type "help" for details, "sync" to update API cache or press tab to list commands
This is a test/alpha binary, please report issues on https://github.com/apache/cloudstack-cloudmonkey/issues
I

[2018-05-03 15:48] dhlaluku opened #18 "compilation error: fix gopath/goroot variables in Makefile"
I gave it a try and realized that the code does not compile out-of-box from checkout as explained in the instructions.

`dingane@dingane-GL553VD:~/apache/cloudstack-cloudmonkey$ make run
▶  Running gofmt…
▶  Setting GOPATH…
▶  Building executable…
▶  Done!
cmk.go:24:2: cannot find package "cloudmonkey/cli" in any of:
	/usr/lib/go-1.10/src/cloudmonkey/cli (from $GOROOT)
	/home/dingane/go/src/cloudm

[2018-05-08 04:25] rhtyd commented on #14
@NuxRo I've added support to add custom prompt and restricted the default prompt to same as the old cloudmonkey. The random emoji fun feature is implemented only when prompt is set to `random`. I'll publish new binaries soon, meanwhile you can build master from source if you want.

[2018-05-08 04:25] #14 closed

[2018-05-09 13:41] rhtyd commented on #16
Latest cloudmonkey does not force this option unless the prompt is set to `random`. The default cloudmonkey prompt is used as used in the old version.

[2018-05-09 13:41] #16 closed

[2018-05-09 13:50] #17 closed

[2018-05-09 13:54] rhtyd commented on #18
@dhlaluku can you try again with latest master?

[2018-05-10 07:52] dhlaluku commented on #18
I tried again on Ubuntu 18 and Fedora 28. The .dot directory does get created but the problem still remains the same.

[2018-05-10 08:26] rhtyd commented on #18
@dhlaluku okay let me debug that will you later this week or next.

[2018-06-20 08:01] rhtyd opened #19 "Fix filtering on various outputs"

[2018-06-20 08:02] rhtyd opened #20 "Introduce way to block for async apis"

[2018-06-23 15:29] #20 closed

[2018-06-25 21:18] DaanHoogland commented on #18
@dhlaluku I think #21 fixes this. Can you check (and close)?

[2018-07-12 19:32] swill opened #22 "Can not login from MacOS"
I have done the steps described in the wiki and I am able to confirm the variables have been `set` correctly by reviewing the `~/.cmk/config` file.

I get the error: `Failed to login, check credentials and try again.`

However, if I just use those credentials in the browser for the same environment, it works.

Also, I notice that if I specify the `apikey` and `secretkey` and then try to `login`, i

[2018-07-12 19:49] swill commented on #22
One thing that is worth noting is that I am actually targeting Accelerite CloudPlatform in this case.  I am not sure if that would make a difference, but I didn't think it would.  Do you have a minimum version which is supported?

[2018-07-14 19:37] msinhore opened #23 "there is no option to filter networks using name or displaytext"
Using the commands bellow, prints all networks instead the network desired:
 list networks displaytext="Network-name"
 list networks name="Network-name"

[2018-08-16 01:01] serverchief opened #24 "[BLOCKER] Some values cannot be set"
Hi Rohit

It appears that new go version of cloudmonkey sends blank values to cloudstack in some cases.

So far i narrowed it down to many "ldap" settings when doing "update configuration" call

CloudMonkey go client
(localcloud) 🐱 > update configuration name=ldap.basedn value='ou=People,dc=ldap,dc=corp,dc=company,dc=com'
{
  "configuration": {
    "category": "Advanced",
    "description": "Sets

[2018-08-16 01:13] serverchief commented on #24
looks like if any value contains "="  - it gets dropped

I suspect "strings.Replace" function does that - or perhaps some other input validator ..

[2018-08-16 07:40] rhtyd commented on #24
Hi, Ilya @serverchief can you try passing args using double quotes like arg="value1=xyz". I'll try to fix this soon, thanks for reporting.

[2018-08-16 08:25] rhtyd commented on #24
@serverchief I've made a fix and pushed to master now, please test and share if that fixes your issue.

[2018-09-22 15:35] rhtyd commented on #22
Can you try again with latest master?

[2018-09-22 15:35] rhtyd commented on #23
I'll debug this, next week. Thanks for reporting.

[2018-09-26 18:56] borisstoyanov opened #26 "cmk fails to submit the api call when "&" is used in some of the parameters"
if for example the user is having an & in the url cloudmonkey won't be able to parse it and submit the api call.

`(localcloud) 🐱 > register template url=&

🙈 Error: unknown command or API requested
(localcloud) 🐱 >`

[2018-09-26 20:14] borisstoyanov opened #27 "listing vm by id 'Info' could show 'display name'"
currently info is showing nothing, it could show the display name of the VM in order to be more descriptive to customer.

<img width="708" alt="screen shot 2018-09-26 at 16 12 43" src="https://user-images.githubusercontent.com/13551960/46106584-1c1a8780-c1a7-11e8-9046-837e74a29bfc.png">
<img width="706" alt="screen shot 2018-09-26 at 16 12 23" src="https://user-images.githubusercontent.com/1355196

[2018-09-26 20:22] borisstoyanov opened #28 "autocomplete selector is not active until you move with the arrows"
Steps:

1. try listing something by id
2. when you write 'id=', press tab once
3. the autocompletion appears
4. let's say the first selected option is 'medium service' and that's what you need.
5. press enter
6. observe that the id is not pasted in the cmd after the 'id=' parameter.

<img width="605" alt="screen shot 2018-09-26 at 16 19 56" src="https://user-images.githubusercontent.com/13551960/4

[2018-10-21 19:20] #28 closed, assigned to nobody

[2018-11-19 04:06] pdion891 opened #29 "config folder not created at the first execution"
the first time `cmk` is executed, it crash if `~/.cmk` folder does not exist. Shouldn't it be created automatically?

[code]

But Cool it's golang now, it load much faster :-)

[2018-11-20 20:10] csquire opened #31 "Autocomplete hangs for a long time"
Whenever I run a command and try to add a parameter, the autocomplete insists on looking up the available options.  This lookup can end up taking a very long time for large result sets.

<img width="350" alt="screen shot 2018-11-20 at 1 46 08 pm" src="https://user-images.githubusercontent.com/677724/48799080-e0de9580-eccb-11e8-8348-66ef74509930.png">

Steps to reproduce:
Start typing a command, fo

[2018-11-20 20:31] csquire opened #32 "Add option to disable autocomplete popup"
Feature Request:

After using `cmk` for awhile, I find the autocomplete popups provided by `go-prompt` to be quite distracting and would really like to just have tab completion. Any chance we can get an option to turn off the autocomplete popup while still having `tab` rotate through the available options?

[2018-11-20 22:36] pdion891 commented on #31
did you run the command `sync` right after starting cloudmonkey ?

[2018-11-28 15:29] csquire commented on #31
Yes, but `sync` only caches the API commands and parameters.  The delay is in the autocompletion of parameter values that appear to be auto-fetched after adding `=` to a parameter.

[2018-11-29 19:24] bwsw opened #33 "Golang rationale"
@PaulAngus @DaanHoogland @GabrielBrascher @mike-tutkowski @rhtyd @rafaelweingartner

It's a calling for a discussion. Is it worth going from Python to Golang? Recently I packed python-based cloudmonkey with pyinstaller into a single executable and it can be deployed as well as a golang binary. I mean that the CloudStack community has some python engineers and it's easier to support the only platfo

[2018-11-29 20:35] kiwiflyer commented on #33
To play devils advocate here, we (ENA) have far more Go coders than python experts.

[2018-11-29 20:57] rhtyd commented on #33
Python based cloudmonkey will continue to exist, but deprecated over time. May be supported till python 2.7 is supported on a platform. I did discuss about this effort a very long time ago on dev ML and did not receive any negative feedback, since then I've actually rewritten cmk in Go twice.

Let me share my reasons of rewriting cloudmonkey in go:
- missing support for python 2.7 runtime on older

[2018-11-29 20:59] rhtyd commented on #32
I'll see if the library supports such an option. PRs are welcome.

[2018-11-29 21:01] rhtyd commented on #31
That's just the behaviour from the go prompt library. I'll explore what we can do. It's certainly doable to not show autocomplete options when your cursor goes back

[2018-11-29 21:02] rhtyd commented on #29
Thanks @pdion891 it should try to create the directory. Let me try to reproduce and fix the bug and some tests.

[2018-11-29 21:14] bwsw commented on #33
@rhtyd well, I understand that. Just wanted to point that `pyinstaller` allows packing python into SFX which can be executed even in outdated OSes, so it's possible to rewrite to python3 as well and run SFX to execute everywhere.

[2018-11-29 21:40] bwsw commented on #33
Ok, I get the point. Then, at least the documentation must be changed as well here:
https://cloudstack.apache.org/downloads.html
because, I suppose the current adoption of a new version is almost zero. E.g. I've known then there is some Cloudmonkey in Golang, but documentation states to use pip.

[2018-11-29 21:43] rhtyd commented on #33
You're missing the point, there is no official go based release yet. We're yet to work on it and we'll update the website once there is an official release.

[2018-11-29 22:06] bwsw commented on #33
@rhtyd
OK, I finally have got the point. Hope the new tool will get enough adoption soon.

[2018-11-30 02:37] #29 closed

[2018-11-30 18:18] rhtyd commented on #32
The UX you're asking is not available in the library I've used; https://github.com/c-bata/go-prompt
I've however added a feature from python based cloudmonkey to disable parameter completion using the keyword: `set paramcompletion false`.

[2018-11-30 18:23] #32 closed

[2018-11-30 18:28] #33 closed, assigned to nobody

[2018-11-30 18:53] rhtyd commented on #31
@csquire I think you're uncomfortable with a new UX change where instead of pressing tab-tab for parameter completion, it gets kicked in when you type the `=`. I've already added the feature to disable parameter completion from #32. Due to the limitation of the cli library I'm using, the best I think we can manage is to only show the options when tab is pressed? Please checkout the latest master w

[2018-11-30 18:54] #31 closed

[2018-12-02 17:49] PaulAngus opened #34 "Variables in double quotes get passed with the double quotes (regression)"
6.0.0 alpha 2
Previously, if a variable was passed in double quotes, the quotes were stripped.
now they are included, causing failures
[code]

[2018-12-03 11:59] rhtyd commented on #34
Looks like this was a bug in older cloudmonkey, ideally the `jq` output would look something like `"some-uuid"`. Note the `svc_offering_id` will have quotes in its values. So, when the parameters is passed to cloudmonkey it is passed as `cloudmonkey some api somearg=\"some-uuid\"`. The newer cloudmonkey tries to allow the parameters passed as-is, and therefore passes the value with quotes. I've cr

[2018-12-03 11:59] rhtyd commented on #34
Fixed in https://github.com/apache/cloudstack-cloudmonkey/commit/f3e09928f940bd2d17283f117bc61eef272670ea closing.

[2018-12-03 11:59] #34 closed

[2018-12-06 14:07] cdstudios opened #35 "Running cmk with -p causes "panic: runtime error: invalid memory address or nil pointer dereference""
If I just run cmk it works fine using the 'default' server profile
[code]

But if I specify any profile via -p, including the 'default' it throws:
[code]

On MacOS 10.12.6

[2018-12-07 10:30] dhlaluku commented on #18
dingane@dingane-GL553VD:~/apache/cloudstack-cloudmonkey$ make all
▶  Running gofmt…
flag provided but not defined: -mod
usage: list [-e] [-f format] [-json] [build flags] [packages]
Run 'go help list' for details.
▶  Building executable… fc79e76
▶  Done!
flag provided but not defined: -mod
usage: build [-o output] [-i] [build flags] [packages]
Run 'go help build' for details.
Makefile:38: recipe f

[2018-12-07 10:39] rhtyd commented on #18
@dhlaluku see README, use latest golang v1.11+

[2018-12-07 10:39] #18 closed

[2018-12-07 10:41] rhtyd commented on #35
Thanks for reporting @cdstudios I'll get back to you soon. For now run cmk set profile, and then use cmk on command line.

[2018-12-07 16:53] dhlaluku opened #36 "URL encoded string variables are improperly formatted"
variable; extraconfig=%3CmemoryBacking%3E%0D%0A++%3Chugepages%2F%3E%0D%0A%3C%2FmemoryBacking%3E
OR with double quotes
extraconfig="%3CmemoryBacking%3E%0D%0A++%3Chugepages%2F%3E%0D%0A%3C%2FmemoryBacking%3E"

OR with single quote
extraconfig='%3CmemoryBacking%3E%0D%0A++%3Chugepages%2F%3E%0D%0A%3C%2FmemoryBacking%3E'

The following output below was returned as API response from cloudmonkey during exe

[2018-12-07 21:51] #35 closed

[2018-12-07 21:52] rhtyd commented on #35
@cdstudios can you try the latest master, I'll update the binaries shortly.

[2018-12-09 18:25] PaulAngus opened #37 "variables in double or single quotes not passed"
[root@ref-trl-844-k-M7-pangus-mgmt1 tmp]# service_offering_name="Ultra Tiny"
[root@ref-trl-844-k-M7-pangus-mgmt1 tmp]# cloudmonkey list serviceofferings name=$service_offering_name
[root@ref-trl-844-k-M7-pangus-mgmt1 tmp]# service_offering_name='Ultra Tiny'
[root@ref-trl-844-k-M7-pangus-mgmt1 tmp]# cloudmonkey list serviceofferings name=$service_offering_name
[root@ref-trl-844-k-M7-pangus-mgmt1 tm

[2018-12-11 08:07] dhlaluku commented on #36
Issue is not with cloudmonkey so closing this.

[2018-12-11 08:07] #36 closed

[2018-12-15 21:02] rhtyd commented on #37
@PaulAngus this is a bash limitation, whenever passing a variable always use double quotes `"`. I tried this with both new and old cloudmonkey and both had similar behaviours. For more information, please see https://unix.stackexchange.com/questions/131766/why-does-my-shell-script-choke-on-whitespace-or-other-special-characters

[2018-12-16 07:36] PaulAngus commented on #37
thankyou Rohit, i understand what you are saying.  Thank you for investigating and explaining.

[2018-12-16 07:36] #37 closed

[2019-01-10 19:56] rhtyd opened #39 "Sync create a non-server profile specific cache"
Sync would overwrite an api-cache of another server profile

[2019-01-10 19:57] rhtyd opened #40 "The set commands don't support -h or help"
The set commands don't support -h or help

[2019-01-11 08:56] borisstoyanov opened #41 "Index out of range exception when autocompleting on list vmsnapshots"
![index-out-of-range](https://user-images.githubusercontent.com/13551960/51023246-1fd3ed80-158f-11e9-9bf9-5346ecebf5ed.gif)

Steps:
1. Type list vmsnapshots
2. tab and the autocompletion option will appear
3. enter the options 'window'
4. press arrow down to navigate down

Following exception appears:
[code]

[2019-01-18 08:18] borisstoyanov opened #42 "set profile doesn't change the client credentials"
[code]

As you can follow from the snippet above when changing the profile to some new one, one would expect an exception to be thrown when trying to sync. Instead it uses the old credentials for the root admin. Same goes if you try to set url api key ect... it simply does not take them into account but operates with the default ones.

[2019-02-04 10:51] borisstoyanov commented on #41
Cloud not reproduce in beta v3

[2019-02-04 10:51] #41 closed

[2019-02-04 10:57] rhtyd opened #43 "Implement way to allow reading of param input from a file"
Implement something like `curl` to accept an API arg value from a file instead like:
`upload someapi arg=@file.txt`

[2019-03-05 08:49] #39 closed

[2019-03-05 09:20] #40 closed

[2019-03-05 09:24] rhtyd commented on #42
I couldn't reproduce this, I tested few scenarios. Closing this as I'm unable to reproduce, @borisstoyanov kindly test again once RC1 is out this week.

[2019-03-05 09:24] #42 closed

[2019-03-05 09:50] #43 closed

[2019-03-05 10:01] rohityadavcloud opened #45 "Should we support https://github.com/jmespath/go-jmespath for go based rewrite?"
Enhancement:
Should we support https://github.com/jmespath/go-jmespath for go based rewrite?

[2019-03-12 09:36] onitake opened #46 "Status responses should not be formatted with %v"
When executing a command that returns a status response, such as `stop virtualmachine`, the response is logged as a simple dump of the Go data structure (like `fmt.Printf("%v")`), unless the JSON output format was selected.

Since these responses can contain nested data, it makes little sense to print them as a table, CSV or similar format, but the output produced by `%v` is very hard to read and

[2019-03-12 09:50] onitake opened #47 "-p argument isn't honoured"
The `-p` command line argument seems to be ignored.

`cloudmonkey` will simply restore the last used profile on startup, instead of loading the one given after `-p` .

[2019-03-12 10:03] onitake opened #48 "Implement better filtering for autocompletion"
When sending actions against a resource, there is no way to filter the autocompletion results, except via fields that the API accepts.

For example, the `start virtualmachine` API only accepts the VM UUID, which is a global value and almost useless for autocompletion if there are a lot of VMs for the current account.

Please implement a better way to select resources, for example by adding `name`,

[2019-03-13 09:55] #47 closed

[2019-03-13 09:55] rhtyd commented on #47
The issue is presentation only:

[2019-03-13 09:56] rhtyd commented on #46
The json is default output, I'll address this in future release. Thanks for reporting.

[2019-04-07 21:26] onitake commented on #47
Thanks @rhtyd !

[2019-06-03 10:33] seerocs opened #49 "Web Proxy Support"
The implementation of a proxy feature would be great.
http_proxy / https_proxy is not working.

[2019-06-05 14:24] pmury opened #50 "System dependencies for the build process?"
Hi, all,
what does the following error message mean and what do I need to build cloudmonkey?

Error:

[code]
Dockerfile:

[code]

[2019-06-21 07:38] pmury opened #51 "Getting unexpected prompt in command-line mode for updateTemplatePermissions"
To finally publish a template (i.e. set `isfeatured=true`) I run the following:

[code]
For some reason, I get an interactive prompt which then when exited confirms success of the update commando:
[code]
Desired behavior: no prompt in command-line mode.

[2019-06-21 08:23] pmury commented on #51
solved, "sync" was missing in original call.

[2019-06-21 08:23] #51 closed

[2019-07-18 20:50] snifbr commented on #45
Hi @rhtyd I'm finally back and took some time to make this enhancement in golang as I promised.

I opened a new pull request #52 for this.

I hope this will be useful.

Sorry for any mistake I did, because it was my first contact with golang and I started this 2 weeks ago.

[2019-08-19 06:14] #46 closed

[2019-08-22 11:06] 1605200517 opened #53 "How to filter out not columns but results?"
I need to filter a subset of templates matching specific criteria.

Tried for example:

`cmk -o table -p admin list templates templatefilter=all  filter=id,name,zonename |grep "BUILD-47848"
`
This does not work well though because of the line breaks in the column "name".

How comes and what to do?

[2019-09-16 11:33] pfienhold opened #54 "How to create tags for uservm"
create tags resourcetype=uservm resourceids=93b527e7-6d8b-4b82-8a0b-87c5b7ef3fa8 tags='tag[0].key=aaa tag[0].value=444'
 Error: (HTTP 431, error code 9999) Unable to execute API command createtags due to invalid value tag[0].key=aaa tag[0].value=444 for parameter tags

create tags resourcetype=uservm resourceids=93b527e7-6d8b-4b82-8a0b-87c5b7ef3fa8 tags=???

[2019-10-21 09:13] 1605200517 opened #55 "tool does not recognize keyword isready for templates"
On tab key, "isr" gets extended to "isrecursive". Usage of this keyword yields no result.

Example:
[code]

[2019-10-21 13:58] gerardjp opened #56 "Listing default output always gives: Error on parsing and printing 'teal'"
Hi all,

I'm running into the error as mentioned in the description. Not sure where (what component or layer) this problem originates. It only occurs when output is `default` or `table`. When output is `json` it's ok.

The cmd/output:

[code]

I'm running latest stable, installed as documented:

[code]

Cloudmonkey version:
[code]

More info available. Thanks!.

[2019-10-21 14:49] rhtyd commented on #56
@gerardjp I think your cloudmonkey config file is wrong, can you set the colour to false `set colour false`?

Also can you try and use the latest cloudmonkey (https://github.com/apache/cloudstack-cloudmonkey/releases) which is a complete new re-write in Go. The Python based cloudmonkey won't be maintained anymore.

[2019-10-21 14:51] rhtyd commented on #55
@1605200517 Kindly consult the apidocs, it's possible some arguments have very specific uses:
http://cloudstack.apache.org/api/apidocs-4.13/apis/listTemplates.html

[2019-10-21 15:41] 1605200517 commented on #55
@rhtyd  thanks for your quick response! indeed, the API does not support this parameter for querying.

[2019-10-21 15:41] #55 closed

[2019-10-24 08:05] synergiator opened #57 "cmk 6 - Provide Docker file and publish to Docker hub"
The latest version, 6.x seems unavailable as Docker image.

Last updated 3 years ago:
https://hub.docker.com/r/apache/cloudstack-cloudmonkey/

Feature request:
* add Dockerfile to build cmk
* publish Docker image to Docker hub

Example working Dockerfile:

[code]

[2019-10-24 08:09] 1605200517 opened #58 "Provide an option to disable line wrapping in table mode"
In table mode, line wrapping is sometimes undesired.

Current output example:
[code]

Provide an option to suppress line wrapping and enable output like:
[code]

[2019-10-24 10:32] rhtyd commented on #57
Thanks @1605200517 I've added the dockerfile now: https://github.com/apache/cloudstack-cloudmonkey/commit/b040e85d70b8570f2542f56ccff37550463d24b8

However, I've no clue who has access to push at dockerhub. Anybody know - @wido @GabrielBrascher @PaulAngus @DaanHoogland @swill @pdion891 ?

[2019-12-12 20:52] rhtyd commented on #56
Couldn't reproduce with latest cloudmonkey, kindly try with the latest Go-based 6.x release.

[2019-12-12 20:52] #56 closed

[2019-12-12 20:54] rhtyd commented on #53
@1605200517 it's not a bug per say as table is probably for visual viewing and not meant for grepping/scripting purposes. Instead of table try the text or json output, and if you know the name of the template, try passing the keyword in the API itself like `list templates keyword=`.

[2019-12-12 20:54] #53 closed

[2019-12-12 20:59] rhtyd commented on #54
@pfienhold this is a doc question, it's documented here:
https://github.com/apache/cloudstack-cloudmonkey/wiki/Usage#argument-passing
https://cwiki.apache.org/confluence/display/CLOUDSTACK/CloudStack+cloudmonkey+CLI#CloudStackcloudmonkeyCLI-Argumentpassing

Here is an example:
[code]

Try with the latest 6.0 release (or the beta/RC), and report/reopen if you any issues;  https://github.com/apache/

[2019-12-12 20:59] #54 closed

[2019-12-12 21:00] rhtyd commented on #58
@1605200517 it's hard to determine if line splitting is needed or not, ultimately as long as the information is visually available it serves the purpose for the table output. The text, json output are more suitable for such things (not break lines) to grep etc.

[2019-12-12 21:00] #58 closed

[2019-12-19 12:07] 1605200517 commented on #56
had this with 5.3.3 on Ubuntu as well - moving to 6.x! would be great to have it as Docker image #57

[2020-01-13 10:56] pfienhold opened #60 "(#54) create tags not work"
(ibkcloud) 🐱 > version
Apache CloudStack 🐵 CloudMonkey 6.0.0

(ibkcloud) 🐱 > create tags resourceids=efc9796e-9cef-42b6-a6f8-4e9cd5bffcbd resourcetype=UserVm tags[0].key=someKey tags[0].value=someValue

💩 Missing required parameters:  tags

[2020-01-13 10:57] rhtyd commented on #60
@pfienhold thanks, sorry about this - this has been already fixed in master and will be fixed in the next release. For now, you can use the RC1 test binaries that has this fixed:
https://github.com/apache/cloudstack-cloudmonkey/releases/tag/pre-next-rc

[2020-01-13 10:57] #60 closed

[2020-01-13 12:07] pfienhold commented on #54
With 6.1 RC it works like you said.

[2020-01-22 19:08] synergiator opened #61 "migrate volume - livemigrate parameter is not parsed?"
For volume migration, it seems like CloudMonkey ignores the "livemigrate" parameter regardless if set to true or false, or there is some other problem.

[code]

[2020-01-23 03:38] rhtyd commented on #61
@1605200517 can you start cmk with - d flag, or run 'set debug true' and share output of the http request sent? Alternatively check what api request is received on the management server.

[2020-02-19 07:48] braderhart opened #62 "Bash completion"
I noticed today when trying this out on Windows, that the interactive console is slow. I tried pasting some text and I could watch the characters being typed. It took about 4 seconds to paste 25 characters. It works descent in Linux, but still produces artifacts when tab completing. Would love to see bash completion scripts as to no rely on the interactive console (e.g. Docker, Kubernetes, Helm, e

[2020-02-19 07:59] braderhart commented on #62
BTW I created a package for Arch:

https://aur.archlinux.org/packages/cloudmonkey-bin/

[2020-02-21 04:24] rhtyd commented on #62
@braderhart does it make any difference if you use cmk from the powershell terminal?

[2020-05-01 15:41] pdion891 opened #63 "display tables does not show complete data"
Here is a test of list hosts api where using filter for 2 fields: name and oscategoryname which is OS preference in cloudstack UI. if I'm using table output , I only get on column because only one host have the OS preference set. but if I'm using json output I get all the information.

This seams to be true also I filter is not used, where the column oscategoryname is not displayed.

table output

[2020-05-09 05:40] rhtyd commented on #57
@synergiator https://hub.docker.com/r/apache/cloudstack-cloudmonkey/builds is available now

[2020-05-09 05:40] #57 closed

[2020-05-10 07:57] synergiator commented on #57
@rhtyd hurray! Thank you.

Though it would be good also to have a tag with explicit version number.

[2020-06-01 14:11] forquesato opened #64 "cmk add resourcedetail"
Hello.

The command "add resourcedetail" works on cloudmonkey 5.3.3, but not on cloudMonkey 6.0.0 (cmk).

$ cmk add resourcedetail resourcetype=UserVm resourceid=5534 details[0].key=nicAdapter details[0].value=Vmxnet3
💩 Missing required parameters:  details

$ cloudmonkey add resourcedetail resourcetype=UserVm resourceid=5534 details[0].key=nicAdapter details[0].value=Vmxnet3

{
  "accountid": "7c

[2020-06-04 02:58] rhtyd commented on #64
Thanks @forquesato we've actually had this fixed, you can take cmk RC build for the next release here which fixes this issue: https://github.com/apache/cloudstack-cloudmonkey/releases/tag/pre-next-rc

My plan is to work on the next release soon where the fix will be generally available to users. Thanks for reporting.

[2020-06-04 02:58] #64 closed

[2020-06-04 13:02] forquesato commented on #64
Thank you!
Best regards.

[2020-06-09 08:59] onitake commented on #48
This will probably need special cases for each API call or group of API calls. Alternatively, it may be possible to attach a special-case filter to arguments (such as `name`) instead. This would then automatically apply to all API calls that have this parameter.

Additional care must be taken to "inject" the other parameters given by the user into the query call.

Usage scenaria with special handl

[2020-06-18 04:49] rhtyd commented on #61
I couldn't reproduce, with latest master. The parameter is clearly seen to be passed to the management server:
[code]

[2020-06-18 04:49] #61 closed

[2020-06-18 05:08] #49 closed

[2020-06-18 05:36] rhtyd commented on #63
@pdion891 thanks, I've fixed it on master; please test and let me know if you've the issue. Thanks

My testing:
[code]

[2020-06-18 05:37] #63 closed

[2020-06-18 06:50] rhtyd commented on #48
@onitake you probably want to do filtering by manually calling APIs/response to find what you need or use the UI for adv. search capabilities which will probably require a lot of rewriting of cmk code; (to show a widget on CLI with probably a ncurses UI that takes in these filtering parameter while autocompletion).

[2020-07-01 07:21] synergiator opened #65 "If not sudo strange file lock error / CloudMonkey 6.0.0 (build: 74ff37c, 2019-03-05T17:27:26+0530)"
Just discovered this exception:
[code]
Which files does `cmk` need to lock here?

Workaround: sudo

[2020-07-01 07:26] rhtyd commented on #65
@synergiator thanks for reporting the issue. Yes, cmk needs to create its config directory at $HOME/.cmk where it stores config, profiles etc. When running just make sure your user/process has access to allow cloudmonkey to create and manipulate its config/history/profile/cache files. This is not different from what cmk v6.0.0 does, can you test and check if you're getting the same issue with olde

[2020-07-13 12:58] onitake commented on #62
It's a bit unfortunate that cloudmonkey doesn't use one of the standard Go flag packages (such as https://github.com/spf13/cobra ). This would make it much easier to add bash completion support.

On the other hand, it shouldn't be too difficult to use something like https://github.com/posener/complete directly.

[2020-07-15 20:40] weizhouapache opened #66 "Error 432 while list publicipaddresses"
see below
[code]

[2020-07-16 04:55] rhtyd commented on #66
Thanks for reporting @weizhouapache can you set debug on and run this. Is this on latest cmk?

We probably can get of the heuristic to use any if the related APIs.

[2020-07-16 07:55] weizhouapache commented on #66
@rhtyd cannot reproduce the issue in 6.1.0
however, there is still no network available for associatednetworkid

[2020-07-16 07:55] #66 closed

[2020-07-16 16:13] mlsorensen opened #67 "Name resolution doesn't work correctly on Darwin build"
There's a known problem with Golang's net DNS code that keeps name resolution from working properly on Mac.  Golang binaries compiled for Mac only utilize /etc/resolv.conf, and not the Mac's dynamic, native name resolution libraries.

This is resolved generally by compiling with CGO_ENABLED=1, but you also have to be compiling the Darwin binary on a Mac in order to get it to work.

Users who want

[2020-07-17 08:45] rhtyd commented on #67
@mlsorensen thanks for sharing, we build cmk with the CGO flag disabled: https://github.com/apache/cloudstack-cloudmonkey/blob/master/Makefile#L29 Do you know this bug status with the latest Go v1.14.x release?

If you've tested this on Darwin, I can setup a job or note to ensure we build on Darwin while publishing release binaries via Github releases.

[2020-07-17 08:45] rhtyd commented on #65
Any update @synergiator probably the ~/.cmk is not owned by your user?

[2020-07-17 08:53] synergiator commented on #65
hi there @rhtyd I think yes, this has been a constellation where the path was created by Docker as I used cmk inside a container mounted to local path. Can't reproduce anymore. The intention of this issue was just to maybe have a more explicit error message, telling the user in such occasion which files/folders could not be accessed exactly.

[2020-07-19 12:42] braderhart commented on #62
Yeah agreed. Hugo, kubectl, eksctl, skaffold, and others work great.

[2020-07-19 16:46] rhtyd commented on #62
@onitake cobra is not a standard Go flag package, besides it's a heavily bloated dependency.

`cmk` provides an autocompletion for not just parameters but also parameter values when used in the shell mode. I'm not sure other stated dependencies provide value completion (by querying via a server-side request) as well. Pull requests are welcome!

[2020-07-19 18:02] onitake commented on #62
@rhtyd I totally agree with you on that one. However, by using cobra, bash autocompletion would be easier to add.
The standard flag package is very primitive and cannot autogenerate bash autocompletion strings like many Go tools do.

The semi-dynamic nature of cmk will certainly make it a bit more difficult to implement this - but there are many tools that do send server requests when autocompleti

[2020-07-27 06:38] rhtyd commented on #65
Thanks closing as you can't reproduce this anymore.

[2020-07-27 06:38] #65 closed

[2020-07-27 06:40] rhtyd opened #68 "Check cmk config directory permissions before using/accessing files"
cmk can check if cmk has access to ~/.cmk dir and files (permissions) and print meaningful message, referhttps://github.com/apache/cloudstack-cloudmonkey/issues/65

[2020-07-29 05:48] rhtyd commented on #67
@mlsorensen can you test https://github.com/apache/cloudstack-cloudmonkey/releases/tag/6.1.0 I've uploaded cmk binary built on OSX with `CGO_ENABLED=1` and close this issue on confirmation. Thanks.

[2020-08-07 15:27] mlsorensen commented on #67
confirmed.

[2020-08-07 15:27] #67 closed

[2020-08-07 15:36] mlsorensen commented on #67
confirmed.

[2020-09-28 14:37] ravening opened #69 "Check for local profile also if localcloud is missing"
In earlier cloudmonkey, the default is profile is `local` and if we use the same config with `cmk` then it fails as it looks for `localcloud` in config file. It should work with either `localcloud` or `local` as default profile name to preserve backward compatibility

[code]

explicitly mentioning `local` works

[code]

[2020-11-19 10:14] synergiator opened #71 "Template "details" does not list all details"
Compare these two calls: as it seems, template listing does not contain all details information.

CloudMonkey version: 6.0.0

[code]

[2020-11-19 15:03] DaanHoogland commented on #71
not sure if this is cloudmonkey or the API, have you checked the UI as well @synergiator ?

[2020-11-20 07:22] slavkap commented on #71
Hi all, I have tested this on CS 4.15 with cloudmonkey 5.3.3 and 6.0.0 and the problem did not appear

cloudmonkey 6.0.0 - one of the details isn't shown when listing resource details because its display option is set to false
[code]

and Cloudmonkey 5.3.3 result

[code]

I have tested it also on CS branch 4.14 again with cloudmonkey 5.3.3/6.1.0

[2020-11-20 07:53] DaanHoogland commented on #71
@synergiator can you check as @slavkap has , whether the two missing details have for display set?

[2020-11-23 09:21] synergiator commented on #71
after double checking the issue, I can confirm this is an issue with an obsolete API version.

[2020-11-23 09:21] #71 closed

[2020-12-16 09:25] borisstoyanov opened #72 "migrate systemvm virtualmachine= lists guest vms instead of systemvms"
[code]

it would be great if it lists VRs and system vms instead of guest vms

[2021-02-08 09:37] synergiator opened #73 "Can't identify source problem on loading profile, ambigous error message"
# Summary

As it seems, error handling regarding loading of the API profile is not complete and/or according error message is ambiguous/wrong.

# Problem description

Consider the following test environment:

* Docker image with pytest in a Gitlab CI/CD runner
* Step 1: use direct Python call using `cs` (not required but as sanity check for the environment)
* Step 2: call cmk using `subprocess`
*

[2021-02-08 09:51] rhtyd commented on #73
@synergiator can you check if you're using `cs` (https://github.com/exoscale/cs ?) or cmk (this repo). `cmk` is Go based and not Python based.

[2021-02-08 10:14] synergiator commented on #73
@rhtyd I use both consequently and independently in same environment:
* cs as Python dependency
* cmk as CLI tool called via Python `subprocess`

[2021-02-08 11:02] synergiator commented on #73
OK here is what has happened: it was not same file, and there is a catch and possible error source:
* the error above can be triggered if the config file is there but corrupted in some way
* in my case, using direct test session I had a default config file which was ok
* the CI/CD environment has a manually crafted paste-in config file which is created with `\r` line endings. These were read by `c

[2021-02-08 11:27] rhtyd commented on #73
I'm not sure what exactly you're doing, the simplest fix is to do this manually and set a `cmk` profile with the correct username and password and then run it with cs or your custom script @synergiator , or do it in steps (such as set `cmk` profile name, url, apikey, secretkey or username/password) before calling anything else. Do you believe this is a `cmk` bug, or a `cs` or your script bug?

See

[2021-02-08 13:08] synergiator commented on #73
It's hard to say where the bug is but it's a mix of circumstances leading to the problem scenario which might be hard to pin down:

* For some reason, the user provides a config file which is syntactically correct but uses non-Linux line endings (in my setup, I used GitLab CI/CD's webform, leading to `\r` character as line ending)
* CloudMonkey does not parse these lines, does not recognize there

[2021-04-13 12:01] andrijapanicsb opened #74 "create domain with "text" display, returns wrong format"
CMK 6.1 - cmk set display text - lines returned are NOT in text format on "create", but instead a single line

[root@CSman ~]# cmk create domain name=Bootcamp999 networkdomain=bootcamp999.local
domain = {"haschild":false,"id":"6521008f-35bc-4195-ab06-f7710f38509a","level":1,"name":"Bootcamp999","networkdomain":"bootcamp999.local","parentdomainid":"fabe6af3-989f-11eb-a211-080027a86798","parentdomai

[2021-04-13 23:39] andrijapanicsb opened #75 "list templates doesn't work with variables"
Not sure what is going on here...

[root@CSman bootcamp]# template_name="CentOS 5.6(64-bit) no GUI (XenServer)"
[root@CSman bootcamp]# cloudmonkey list templates name=$template_name templatefilter=all
[root@CSman bootcamp]#
[root@CSman bootcamp]# template_name='"CentOS 5.6(64-bit) no GUI (XenServer)"'
[root@CSman bootcamp]# cloudmonkey list templates name=$template_name templatefilter=all
[root@CS

[2021-04-13 23:44] andrijapanicsb commented on #75
When I renamed the template in DB from "CentOS 5.6(64-bit) no GUI (XenServer)" to "CentOS5.6(64-bit)noUI(XenServer)" (no spaces between words), then it worked fine 🤷

[2021-04-13 23:48] andrijapanicsb commented on #75
The same goes for other commands e.g.:

[root@CSman bootcamp]# service_offering_name='"Ultra Tiny"'
[root@CSman bootcamp]# $cli list serviceofferings name=$service_offering_name
[root@CSman bootcamp]#
[root@CSman bootcamp]# service_offering_name="Ultra Tiny"
[root@CSman bootcamp]# $cli list serviceofferings name=$service_offering_name
[root@CSman bootcamp]#
[root@CSman bootcamp]#

[2021-04-21 07:59] DaanHoogland commented on #75
I think you need to refer the var in quotes @andrijapanicsb . Seems to me to be a shell issue and not a cmk issue.

[2021-04-21 19:56] andrijapanicsb commented on #75
Being lazy as I am (i.e. not gonna test it again), this is a variable, so why would you expect quotes are needed? It worked like that in cmk 5.3.3, but not now in 6.1.

[2021-04-27 07:54] DaanHoogland commented on #75
Did it really @andrijapanicsb? The shell would always expand the var to include the spaces and than cmk would only get the first part as the value of the parameter. I don't think this was ever supposed to work without quotes. i.e. `cloudmonkey list templates name="$template_name" templatefilter=all` instead of `cloudmonkey list templates name=$template_name templatefilter=all` cmk has no control o

[2021-04-27 07:56] andrijapanicsb commented on #75
Join the Bootcamp in May, and I can show you :) this is how it did work for last few years with CMK 5.3.3, we can take this offline if you want

[2021-04-28 10:24] rhtyd commented on #73
Closing the issue as the issue is related to `cs` - https://github.com/exoscale/cs, and not CloudMonkey/`cmk` (the tool itself). The issue is with how cmk was called with an external script/tool.
@synergiator please raise issue around `cs` with https://github.com/exoscale/cs

[2021-04-28 10:24] #73 closed

[2021-04-29 11:31] andrijapanicsb opened #77 "set display default - doesn't work"
(localcloud) SBCM6> > set display default
(localcloud) SBCM6> > list zones
Invalid output type configured, please fix that!

it allows setting display to default, but later there are errors - would be nice to error out early.

[2021-07-02 06:19] shwstppr opened #81 "Unable to use new syncStoragePool API"
Newly added `syncStoragePool` API doesn't work with Cloudmonkey 6.1.0. Instead of firing API it synchronizes API cache. Even while trying to get docs for the API it does the same.

![cmk-sync](https://user-images.githubusercontent.com/153340/124229531-6638b080-db2b-11eb-9205-4dd3381fcccf.gif)

[2021-07-02 06:33] harikrishna-patnala commented on #81
@shwstppr here the auto completion API works fine, but when we actually run the command, it is ignoring the parameters after 'sync'

If we run the API with full name it works fine,
(localcloud) SBCM5> > **syncStoragePool** id=37cf387a-ea2f-3456-a98a-03bc282072fd
{
  "storagepool": {
    "clusterid": "0c29f733-575b-4e6c-b7ff-9d595fc5bfb1",
    "clustername": "p1-c1",
    "created": "2021-05-11T15:5

[2021-07-02 18:17] synergiator commented on #31
having this, I thought I add my comment here. In UI javascript autocomplete implementations, typically the lookup is activated only after you have provided some input like 3 chars. Especially in our case, looking up for an ID with zero input if there are dozens and more objects does not really make sense.

So maybe add an option to activate autocomplete lookup only after N chars input.  @rhtyd  wh

[2021-07-06 04:19] Pearl1594 commented on #75
@andrijapanicsb I believe @DaanHoogland  is right wrt to using the variable in quotes. Tried reproducing the issue with cloudmonkey 5.3.3 and faced the same issue.

[code]

[2021-07-06 13:19] weizhouapache commented on #75
agree with @DaanHoogland
it looks like not a cmk issue.
it could be supported in cmk but maybe unnecessary.

[2021-07-13 06:41] Pearl1594 commented on #69
Currently, a localcloud profile is automatically created if not present by default. Moving this to the next milestone.

[2021-07-13 06:47] Pearl1594 commented on #72
It's a good to have enhancement, however, may not be straight-forward, because of the heuristic approach used for auto completion, keeping it as part of 6.2.0 milestone for now.

[2021-07-13 06:49] Pearl1594 commented on #75
@andrijapanicsb Can you please advise if this is still relevant? Thanks

[2021-07-13 06:59] Pearl1594 commented on #74
@andrijapanicsb IMHO, when the display format is textual - the output format seems to be appropriate; adding newlines would basically make it identical to JSON format. Do you think pretty-printing the textual output (with newlines and indents) would be better?

[2021-07-13 10:35] rhtyd commented on #69
@ravening I think somewhere in notes/MLs we had discussed this. @Pearl1594 consider for 6.2.0 if the fix is simple (i.e. if localcloud is not availble fallback to local if available; or simply - throw an error that profile not found or something).

[2021-07-22 09:18] shwstppr commented on #69
@ravening @rhtyd @Pearl1594
Release before 6.0 used to use profiles and other configs from `.cloudmonkey` subdir in HOME directory. With 6.0 it started using `.cmk` subdir. And not just the profile none of other configurations (output format, etc) will be used by newer install. Personally, I don't see a point in checking old config now.
Also, both installs live as a separate program.
I would sugge

[2021-08-03 05:33] #77 closed

[2021-08-03 05:34] #68 closed

[2021-08-03 05:34] #81 closed

[2021-08-03 05:36] rhtyd commented on #74
@andrijapanicsb @Pearl1594 what was the behaviour with the legacy cloudmonkey? If there is a mismatch then we can attempt to fix, otherwise I would encourage to use json which is the new default in cmk.

[2021-08-03 05:38] rhtyd commented on #75
@andrijapanicsb I think it's the same with old cloudmonkey, have you tested that? It's better to use "$variable" when passing params to any cli.

[2021-08-03 06:38] Pearl1594 commented on #74
@rhtyd there is a difference in the way the textual output is displayed btw versions < 6.0.0 and newer versions, e.g.,
Text format output on cloudmonkey 5.3.3:
[code]

Whereas, output observed in cmk versions > v6
[code]

We can add newlines to somewhat align to the old format - https://github.com/apache/cloudstack-cloudmonkey/pull/86

[2021-08-03 07:07] #74 closed

[2021-08-03 07:08] rhtyd commented on #75
I reviewed the issue, doesn't sound like a bug to me. @andrijapanicsb kindly re-open or discuss on dev@ if you're not satisfied. Thanks.

[2021-08-03 07:08] #75 closed

[2021-08-05 20:14] serverchief opened #90 "Disable auto-complete option"
In large env with many thousand assets, if I tab by mistake for autocompletion - it will take very long time to respond.

Please kindly provide an ability to disable auto-complete altogether.

[2021-08-08 15:30] rhtyd commented on #90
We used to have an option earlier to disable parameter completion, I suppose you still want autocompletion but not for resource uuid/ids.

[2021-08-09 09:01] DaanHoogland opened #92 "calling cmk from bash fails due to configured output method"
playback scenario:
[code]

also
[code]

[2021-08-09 10:46] #92 closed

[2021-08-09 10:47] #90 closed

[2021-08-09 10:48] rhtyd commented on #90
@serverchief please test latest main and re-open if not satisfied with the fix from #91

[2021-08-09 10:49] rhtyd commented on #69
Agree with @shwstppr 's comment, unless you've manually copied the old config file you won't hit this @ravening - I propose you start fresh and manually migrate your profiles to the new `cmk`. Please re-open if not satisfied.

[2021-08-09 10:49] #69 closed

[2021-08-26 18:31] pdion891 opened #94 "add human readable output"
when displaying volume info, it would be great if we could see the size attribute in human readable form instead of scientific,
example:

current output:
[code]

new output:
[code]

Maybe we could have a configuration `humanformat=true` in the config file too ?

[2021-08-31 05:39] rhtyd commented on #94
The linked PR fixes the formatting issue, however it doesn't do what @pdion891 has asked - PL please check if the PR is sufficient to close the ticket?

[2021-09-01 16:12] pdion891 commented on #94
The #95  make reading better than before but I think it would be cleaner if we could get a more human interpreted version.

is such code could help ?
[code]

This could work for any field that are `size` or `memory`,  but cannot be use for all integer type because that would not make sense for cpu count as example.

[2021-09-01 16:14] rhtyd commented on #94
That looks good - but then the issue is on which int64 inputs (i.e. response keys) should we apply this logic? (probably anything with size in the substring? however it may fail if it's not storage related key)

[2021-09-01 16:15] pdion891 commented on #94
`int64` in that snippet can be changed.

[2021-09-02 12:12] Pearl1594 commented on #94
It does look better with the approach you've mentioned @pdion891. However, this may not work for fields like cpunumber, cpuspeed, bits, count, etc - but it's worth exploring!

[2021-09-02 12:26] pdion891 commented on #94
@Pearl1594 for sur this kind of output is only valid for Size type of attribute.

Would there be a way to know if an attribute name contain `size` and if it does the value would be process to have `GB` output style ?

[2021-09-30 05:32] sureshanaparti opened #98 "Auto-complete not working for 'id' param in update storagecapabilities"
Auto-complete not working for 'id' param in update storagecapabilities

Tested with CloudMonkey 6.2.0 (build: 8aae61e).

[code]

[2021-09-30 05:40] sureshanaparti opened #99 "New flag "-c" in cmk 6.2.0"
Noticed a new flag "-c" (different config file path) in CloudMonkey 6.2.0, which is not mentioned in the release notes here: https://github.com/apache/cloudstack-cloudmonkey/releases/tag/6.2.0. If it is supported , please update the release notes.

[code]

[2021-09-30 05:45] Pearl1594 commented on #98
@sureshanaparti We could probably look at improving this in the next release of cmk - however, the reason behind this behavior is that when CloudMonkey tries to find the most appropriate list API that can be used to populate the values of `id` - it finds more than one, and hence, doesn't autocomplete the argument's values. For exapme: this is what is seen in debug mode:
[code]

[2021-09-30 05:49] rhtyd commented on #98
@sureshanaparti was this working with previous versions of cmk, say 6.1.0?

[2021-09-30 05:50] rhtyd commented on #99
I think it may be supported since previous versions, @Pearl1594 to check and confirm

[2021-09-30 05:54] Pearl1594 commented on #98
No @rhtyd didn't work in the older versions too:
[code]

[2021-09-30 05:54] sureshanaparti commented on #98
doesn't work with 6.1.0 @rhtyd

[2021-09-30 05:56] Pearl1594 commented on #99
No @rhtyd  - this was a new flag - but I guess the PR had no milestone attached - hence it slipped pass my attention.
I've updated the release notes: https://github.com/apache/cloudstack-cloudmonkey/releases/tag/6.2.0
And the wiki: https://github.com/apache/cloudstack-cloudmonkey/wiki/Getting-Started#getting-help
Thanks @sureshanaparti

[2021-09-30 06:07] sureshanaparti commented on #99
Thanks @Pearl1594 , for the quick turnaround!

[2021-09-30 09:40] soreana commented on #99
@sureshanaparti It was added by me in: https://github.com/apache/cloudstack-cloudmonkey/pull/70

[2021-09-30 09:45] sureshanaparti opened #100 "Few parameters in the 'set' cmd accepts empty input."
Few parameters (secretkey, apikey, url, etc) in the 'set' cmd accepts empty input, and doesn't prompt as invalid input. It also update them as empty in the config file.

Any way (or command) to check the apikey, secretkey, timeout, etc configured, without checking the profile.

[code]

The config file entires of the profile, updated to =>

[code]

[2021-09-30 11:43] soreana commented on #99
@Pearl1594 Could you please update the wiki and release note once again. 🙈
I fixed the capitalization in `different config file path` in https://github.com/apache/cloudstack-cloudmonkey/pull/101

[2021-09-30 12:25] sureshanaparti opened #102 "Async APIs fails with job query timed out error, after setting empty/invalid timeout config"
Async APIs fails with job query timed out error, after after setting empty timeout (Ex: '_set timeout_ ' or '_set timeout test_ 'cmd), which is already prompted as invalid. After setting to valid value,  Async APIs starts working.

[code]

[2021-09-30 16:05] rhtyd commented on #100
I think these are not regressions warranting a new RC1. Can you check @sureshanaparti if they're regression/blockers or bugs?

[2021-09-30 16:05] rhtyd commented on #102
Can you check if these are regressions/blockers against previous releases warranting a new RC or just bugs?

[2021-09-30 16:06] Pearl1594 commented on #100
It isn't a regression. Has always behaved this way. Yes, it surely needs fixing - but isn't a blocker either. coz one could reset the value to the right one and it works fine

[2021-09-30 16:10] Pearl1594 commented on #102
Not a regression - has been the behvior from before:
[code]

[2021-10-01 04:17] sureshanaparti commented on #100
Not a regression @rhtyd

[2021-10-01 04:19] sureshanaparti commented on #100
Agree with api/secret keys, that can be empty, other configs are also set to empty. Updated description.

[2021-10-01 04:41] sureshanaparti commented on #102
Not a regression @rhtyd

[2021-10-05 11:37] #100 closed

[2021-10-05 11:39] rhtyd commented on #99
Seems release notes were updated and wiki.

[2021-10-05 11:39] #99 closed

[2021-10-05 11:39] rhtyd commented on #102
Fixed by #103

[2021-10-05 11:39] #102 closed

[2021-10-06 09:10] PaulAngus opened #104 "Enable passing of profile information in cmk commandline"
### Feature Request

**Enable the passing of profile information in cmk command line**

### Use Case

- Storing API and Secret Keys in a plain text file presents a large security hole.
- Also, when using scripting from a central location where multiple profiles are in use, switching between profiles and altering config is cumbersome.
- Plus cmk cannot be used against multiple environments (profile

[2021-10-06 09:18] rhtyd commented on #104
With latest v6.2.0 you can now pass the -c option to specify custom config/server profile https://github.com/apache/cloudstack-cloudmonkey/wiki/Getting-Started#getting-help

[2021-10-06 11:26] PaulAngus commented on #104
Hi Rohit.

I want avoid a text file with the endpoint and credentials in it.
Using the existing nomenclature there would be

 -s     secret key
 -k     api key
 -u     api endpoint url
 -o     output

possibly also
-a asyncblock
-v verifycert
....

[2021-10-07 04:20] cdaehyun0 opened #105 "How to resolve delete trafficmonitor Error message"
CloudMonkey 6.1.0.
Error Message:::::::

(localcloud) 🐱 > delete trafficmonitor id=2f3710d4-04af-412b-a64a-1aca0cb07c58
🙈 Error: (HTTP 530, error code 4250) Host 2f3710d4-04af-412b-a64a-1aca0cb07c58 cannot be deleted as it is not in maintenance mode. Either put the host into maintenance or perform a forced deletion.

How can I resolve this issue?

[2021-10-07 06:00] cdaehyun0 commented on #105
as you instructed, I ran the comand >>>  prepare hostformaintenance id=2f3710d4-04af-412b-a64a-1aca0cb07c58

It was generated Async API error message ....

jobstatus = 2for async API result 50) Host 2f3710d4-04af-412b-a64a-1aca0cb07c58 cannot be deleted as it is not
jobprocstatus = 0async API result  a forced deletion.
jobresultcode = 530ync API result aintenance id=2f3710d4-04af-412b-a64a-1aca0cb

[2021-10-13 10:29] pxn opened #106 "Comma in csv output not wrapped in double quotes"
When command output field text contains `,` it breaks csv structure. Those fields should be enclosed in "".

output in JSON:

`() cmk > list virtualmachines `filter=name,displayname,instancename`
`{
  "count": 1,
  "virtualmachine": [
    {
      "displayname": "DuVPC-AD,WSUS, DNS",
      "instancename": "i-211-1313-VM",
      "name": "MS-DC-PRI"
    }
  ]
}`

same VM output in csv:
`() cmk > list

[2021-12-01 10:13] PaulAngus opened #109 "list clusters name parameter acts like a wildcard"
When passing a name to `list clusters` , the name is treated as if there is a wildcard on the end.
Attempting to determine the ID of a cluster as an alternative isn't possible as one cannot use `list clusters` to find the relevant `clusterid`

[code]

[2021-12-22 16:55] synergiator opened #110 "How to download cmk in scripts?"
To distribute the Cloud Monkey binary, I would prefer an URL/source which makes sense - or maybe it's time for a distribution via Linux OS package managers?

Copy-pasting release link from this project's releases [page](https://github.com/apache/cloudstack-cloudmonkey/releases/tag/6.2.0) _looks_ like this:

[code]

but _in fact_ is a redirect to something like this:

[code]

[2021-12-22 17:26] weizhouapache commented on #110
@synergiator
Does the links in following URL work for you ?
https://github.com/apache/cloudstack-cloudmonkey/releases/tag/6.2.0

[2021-12-22 18:43] synergiator commented on #110
@weizhouapache hi - these links are redirects and not working for me. I have adjusted the issue description to emphasize the problem.

[2021-12-29 19:34] rohityadavcloud commented on #110
@synergiator you can ofcourse wget the link, which will handle the redirection. There is a mirror here you can use too: https://dl.yadav.cloud/cmk

[2022-01-11 08:27] synergiator commented on #110
@rohityadavcloud  thx for the workaround

@weizhouapache what I do:

[code]

[2022-01-11 08:29] synergiator commented on #110
ok I see :-) this one works:

https://github.com/apache/cloudstack-cloudmonkey/releases/download/6.2.0/cmk.linux.x86-64

Sorry!

[2022-01-11 08:29] #110 closed

[2022-02-25 13:42] DaanHoogland commented on #106
fixed in #107

[2022-02-25 13:42] #106 closed

[2022-02-25 13:45] DaanHoogland commented on #109
@PaulAngus If you test 4.16.1 can you check this? it is fixed in the backend by apache/cloudstack#5782 (and close if appropriate)

[2022-02-25 14:00] rohityadavcloud commented on #109
This can't be fixed in the client, since 4.16.1 PR has fixed this in the API this should be fixed with 4.16.1.0 onwards. I think the issue can be closed.

[2022-03-22 19:19] wongster80 opened #113 "Build compatible for Apple M1 CPU"
Hi,
Is CMK built for Apple M1 CPU, because I've been getting this error running cmk.

 % sysctl -n machdep.cpu.brand_string
Apple M1
% ./cmk.darwin.arm64
zsh: killed     ./cmk.darwin.arm64
% ./cmk.darwin.x86-64
zsh: killed     ./cmk.darwin.x86-64

[2022-03-22 19:22] rohityadavcloud commented on #113
Yes @wongster80 pl use the darwin arm64 build from https://github.com/apache/cloudstack-cloudmonkey/releases/download/6.2.0/cmk.darwin.arm64

After downloading, don't forget to run `chmod +x <binary>`.

I tested this locally:
[code]

[2022-03-24 00:22] vseshan commented on #113
Same here i have MacOS Monterey version 12.2.1 Macbook Pro Apple M1

[2022-03-24 09:02] rohityadavcloud commented on #113
@vseshan @wongster80 can you check and share the md5 checksum of the binary? See how I tested below:

[code]

I'm not able to reproduce your error, though I've Macbook Air M1.

[2022-03-24 14:57] vseshan commented on #113
It works now, earlier we downloaded the binary directly from the browser now after downloading from wget it works.
Thanks for your help.
    On Thursday, March 24, 2022, 02:03:09 AM PDT, Rohit Yadav ***@***.***> wrote:

@vseshan @wongster80 can you check and share the md5 checksum of the binary? See how I tested below:
bash-3.2$ wget https://github.com/apache/cloudstack-cloudmonkey/releases/downlo

[2022-03-24 15:40] rohityadavcloud commented on #113
@vseshan I think it should still work, even if the link/cli is downloaded from browser (check the md5sum for example to confirm if the download via browser went well). It's possible Github was experiencing some issues which is resolved now.

@wongster80 is it the same issue for you, can you confirm if it works for you too?

[2022-05-10 20:17] kgranroth-tm opened #115 "cmk ignores the CLI profile arg when loading the cache file"
### Summary
Cloudmonkey requires a default profile in `.cmk/config` to read the `.cmk/profiles/*.cache` files and it will ignore the command line arg when loading said cache, preferring the default profile.

### System
OS: MacOS 11
CPU: darwin.x86-64
CMK Version: 6.2.0 (build: 8aae61e, 2021-09-23T10:50:26+0530)

### Setup
Create a sample `.cmk/config` with something like:
[code]
Then perform a syn

[2022-05-11 05:52] rohityadavcloud commented on #113
Closing this, pl reopen with more information if this is still an issue for your @wongster80

[2022-05-11 05:52] #113 closed

[2022-05-11 05:54] rohityadavcloud commented on #109
Fixed by https://github.com/apache/cloudstack/pull/5782 can't fix this for older ACS version as the API param is handled by mgmt server (not by cmk/cli).

[2022-05-11 05:54] #109 closed

[2022-07-20 13:53] loth opened #116 "Log File Config Option?"
I don't see where to configure the log file and/or history file, is this implemented and if so, how is it configured?

[2022-08-08 12:09] DaanHoogland opened #117 "filter is ignored on e.g. deploy virtual machine"
when issuing a list command one can filter fields being output by the `filter` parameter. when excuting `deploy virtualmachine` this is also a valid parameter, but the result is an empty output if it is used.
[code]

or

[code]

[2022-08-08 13:54] DaanHoogland commented on #117
I know, and that could be im[proved, couldn´t it, @rohityadavcloud ?

[2022-08-08 14:04] rohityadavcloud commented on #117
@DaanHoogland can you suggest your use-case? maybe you can grab the VM's uuid and call the list API subsequently to filter stuff (I'm not sure if the deploy vm response sends the entire list VM response as expected, incl things like details etc)

[2022-08-08 14:08] DaanHoogland commented on #117
I am doing a test in which I want to make sure that not all of the deploy VM commands succeed and want to get only the name and id of those VMs that do succeed. At the same time I want to see the error output of those that fail without feeding those into a grep command.
I think the second command syntax I gave in the description would be the best intuitive way to deal with this, but the first one

[2022-09-01 00:20] nvazquez commented on #117
Hi guys, +1 on the improvement request

[2022-09-20 06:31] rohityadavcloud commented on #105
Closing on the remark, that the issue/exception is from cloudstack and not cmk - so the bug must be reported and fixed in CloudStack (if it's not already resolved/fixed). Thanks.

[2022-09-20 06:31] #105 closed

[2022-09-20 06:33] rohityadavcloud commented on #116
@loth there is no log file in go-based `cmk`, the history file is at `~/.cmk/history`

[2022-09-20 06:33] #116 closed

[2022-11-10 09:02] alexandremattioli opened #118 "associatednetworkid= does not autocomplete"
When creating a shared network using an offering which has the SpecifyVLAN option set the associatednetworkid= should be able to autocomplete with the networks of that domain/account

[2022-11-29 14:36] Arceoavs opened #119 "verifycert option does not disable certificate signed by unknown authority error"
I have an API Endpoint that is signed with an unknown authority.
According to the [Wiki Entry](https://github.com/apache/cloudstack-cloudmonkey/wiki/Usage), the `verifycert` should disable the "x509: certificate signed by unknown authority" error. This does not work as expected, since the error still occurs.

The `verifysslcert` from the [old wiki](https://cwiki.apache.org/confluence/display/CLOUD

[2022-11-29 22:09] Arceoavs commented on #119
Yes exactly. I get the error with and without setting the option.